/* Reseteo de márgenes y padding para todo el documento */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;  /* Evitar desplazamiento horizontal */
    box-sizing: border-box;  /* Asegurarnos de que todo se ajuste dentro del contenedor */
}

/* Asegurarnos de que los bordes no afecten el tamaño de los elementos */
* {
    box-sizing: inherit;  /* Todo elemento dentro hereda el box-sizing de 'body' */
}

/* Estilos para el header */
header {
    background-color: #343a40 !important;  /* Fondo oscuro */
}

/* Estilos de la barra de navegación */
.navbar {
    margin: 0 !important;  /* Elimina margen */
    padding: 0 !important;  /* Elimina relleno */
    background-color: #343a40 !important;  /* Fondo oscuro */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);  /* Sombra suave */
    width: 100%;
    height: 60px;  /* Ajusta la altura de la barra de navegación */
    display: flex;  /* Usamos Flexbox para alinear los elementos */
    justify-content: center;  /* Centra los elementos dentro de la navbar */
    align-items: center;  /* Alinea verticalmente los elementos */
}

/* Eliminar márgenes y rellenos dentro de la navbar */
.navbar * {
    margin: 0 !important;
    padding: 0 !important;
}

/* Estilos para el texto de la navbar */
.navbar-brand {
    color: white !important;
    text-align: center;  /* Centra el texto */
    width: 100%;  /* Asegura que el ancho ocupe todo el espacio disponible */

}

/* Estilo del navbar-toggler (botón de menú en dispositivos pequeños) */
.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);  /* Borde gris claro */
}

/* Estilo para el contenedor principal */
.container {
    max-width: 1000px; /* Cambié el tamaño del contenedor */
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background: transparent;  /* Cambio el fondo blanco a transparente */
}

/* Estilos de las imágenes */
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 10px auto;
    cursor: pointer;  /* Aparece como un puntero para las imágenes */
}

/* Modal de imagen */
.modal-dialog {
    max-width: 90%; /* Aumentar el tamaño máximo del modal al 90% del ancho de la ventana */
    margin: auto;
}

.modal-content {
    padding: 20px;
}

/* Establecer la imagen para que ocupe todo el ancho disponible */
#modalImage {
    width: 100%; /* La imagen ocupará todo el ancho del modal */
    height: auto; /* Mantener la relación de aspecto de la imagen */
    max-width: 100%; /* Asegurarse de que no se desborde del contenedor */
}

/* Estilo del botón de cierre */
.btn-close {
    background-color: transparent;
    border: none;
    font-size: 30px;
}
